.numbersList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}
.numbersList li {
  margin: 8px 0;
  width: 4%;
}
.numbersList li button{
  min-width: 35px;
  padding: 3px;
}
.guessed {
  font-weight: bold;
}
.incorrect {
  background-color: rgba(255, 0, 0, 0.5);
  border-color: rgb(255, 0, 0);
  color: white;
}
.correct {
  background-color: rgba(0, 255, 0, 0.5);
  border-color: rgb(0, 255, 0);
  color: black;
}
